@mixin btn($bColor: $light_blue, $fColor: $white, $fSize: 15px) {
  font-size: $fSize;
  background-color: $bColor;
  color: $fColor;
  border-radius: 5px;
  border-bottom: solid 4px #46707c;
  outline:0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

@mixin btn_action {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-bottom: none;
}

@mixin note {
  background-color: $light_yellow;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

@mixin count {
  font-size: 22px;
  line-height: 30px;
    &__title {
      font-size: 13px;
    }
}

@mixin marker($color: $marker_blue) {
  background: linear-gradient(transparent 70%,  $color 20%);
}

@mixin book_index {
  padding: 20px;
  font-size: 20px;
  display: grid;
  grid-auto-rows: 300px;
  grid-template-columns: repeat(auto-fit, 180px);
  justify-content: center;
  .book-area {
    width: 120px;
    height: 180px;
    margin: 0 30px;
    color: $light_blue;
    position: relative;
    &__link {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    &__image {
      width: 120px;
      height: 180px;
      background-color: $light_yellow;
      border: 1px solid khaki;
    }
    &__title {
      font-size: 15px;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    &__author {
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  
}

@mixin section-title {
  width: 700px;
  text-align: center;
  margin: 0 auto;
  font-size: 25px;
  margin-top: 30px;
  padding: 5px 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
  background-color: $light_blue;
}

@mixin section-content {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #dadce0;
  border-radius: 8px;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@mixin required {background: #ea352d;
  display: inline-block;
  margin: 0 0 0 8px;
  padding: 2px 5px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  vertical-align: text-bottom;
}

@mixin modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1;
  #modal-window {
    width: 300px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .modal-message-box {
      width: 100%;
      height: 60px;
      text-align: center;
      line-height: 60px;
    }
    #modal-close-btn {
      width: 50%;
      height: 40px;
    }
    #delete-comformation-btn {
      &__note, &__form {
        width: 50%;
        height: 40px;
      }
    }
  }
}