- unless action_plan.content.empty?
  .action-plan
    .action-plan__progress
      #action-plan__progress{ id: action_plan.id }
        = render partial: "progress", locals: { action_plan: action_plan }
    .action-plan__content
      = simple_format(action_plan.content)
    - if @user == current_user
      .action-plan__edit-link
        = link_to edit_book_note_path(action_plan.note.book.id, action_plan.note.id), class: "edit-note-btn" do
          = icon('fas', 'edit', class: "edit-icon")