
.search-form
 
  %form.search-form
    %input{type: "text", class: "text-box"}
    %input{type: "submit", value: "検索", class: "search-btn"}

.add-book-area
  = link_to "本を追加する", new_book_path, class: "add-book-btn"

.book-index
  = render @books

.footer
  nekocat Co., Ltd.