.notifications {
  .notice {
    background-color: $notice_color;
    color: #fff;
    text-align: center;
  }

  .alert, .error {
    background-color: $alert_color;
    color: #fff;
    text-align: center;
  }
}