.notifications {
  .notice {
    background-color: $flash_color;
    color: #fff;
    text-align: center;
  }

  .alert {
    background-color: $flash_color;
    color: #fff;
    text-align: center;
  }
}