.main-header {
  height: 50px;
  width: 100%;
  background-color: $light_blue;
}
.header-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  @media (max-width: 800px) {
    padding: 0 20px;
  }
  @media (min-width: 801px) {
    padding: 0 50px;
  }
  a#book-notes, a {
    text-decoration: none;
    color: $white;
  }
  &__logo {
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    img {
      width: 30px;
      display: inline-block;
      vertical-align: middle;
      color: white;
      filter: invert(100%);
    }
  }

  &__right-content {
    line-height: 50px;
    font-size: 15px;
    .login-btn {
      margin-right: 15px;
    }
    .user-name {
      margin-right: 15px;
    }
  }
}