.note-show-wrapper {
  padding: 20px 30px 70px;
}
.link-area {
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  .move-page-link {
    display: flex;
  }
  .back-page-btn, .user-page-btn {
    display: inline-block;
    width: 170px;
    padding: 5px;
    text-decoration: none;
    color: $light_blue;
  }
  .note-edit-area {
    display: flex;
  }
  .edit-note-btn {
    margin-right: 20px;
    text-decoration: none;
    color: $light_blue;
    font-size: 25px;
    font-weight: 700;
  }
  #delete-note-link {
    margin-right: 5px;
    text-decoration: none;
    color: $light_blue;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
  }
}

.slide {
  .top-slide {
    width: 700px;
    margin: 0 auto;
    padding: 20px 0;
    margin-bottom: 10px;
    &__book-title {
      font-size: 40px;
      color: $light_blue;
      text-align: center;
    }
    &__user-name {
      font-size: 18px;
      margin: 0 auto;
      margin-top: 20px;
      text-align: center;
    }

  }
  h2.slide-title {
    @include section-title;
  }
  .summary-area {
    @include section-content;
    .summary-slide {
      width: 600px;
      padding: 10px;
      margin: 0 auto;
      margin-bottom: 10px;
      border-top: 1px solid #dadce0;
      &__title {
        @include marker();
        font-size: 25px;
        display: inline-block;
      }
      &__content {
        white-space: pre-wrap;
      }
    }
  }
  .review-area, .action-plan-area, .purpose-area, .memo-area {
    @include section-content;
    padding: 20px 50px;
    white-space: pre-wrap;
  }
  .summary-slide:first-child {
    border: none;
  }
}

.like-area {
  width: 700px;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  a {
    text-decoration: none;
  }
  .liked-icon {
    color: red;
  }
  .like-icon {
    color: gray;
  }
}

.comment-form {
  width: 700px;
  margin-top: 10px;
  border-top: 2px solid gray;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  .comment-form-area {
    width: 100%;
    height: 50px;
    display: inline-block;
    padding-left: 10px;
  }
  .btn-area {
    margin-top: 10px;
  }
  .comment-submit-btn {
    border: none;
    @include btn();
    width: 60px;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }
  .comment-submit-btn:active {
    @include btn_action;
  }
}

.comments {
  p {
    font-size: 18px;
    text-align: center;
  }
}

.comment {
  width: 700px;
  @include note;
  background-color: #eee;
  box-shadow: none;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  &__info {
    text-align: right;
    font-size:12px;
  }
}

#overlay {
  @include modal;
}