.contents {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  .left-content {
    width: 260px;
    height: calc(100vh - 50px);
    padding: 50px 30px;
    .book-image {
      width: 200px;
      height: 280px;
      margin: 0 auto;
    }
    img {
      object-fit: contain;
    }
    .no-image {
      margin: auto;
      padding-top: 80px;
      background-color: #dddddd;
      height: 280px;
      color: white;
      .pic-icon {
        display: block;
        font-size: 50px;
        text-align: center;
        margin: 0 auto;
      }
      .msg {
        font-size: 28px;
        text-align: center;
      }
    }
    .book-title {
      font-size: 25px;
      color: $gray;
    }
    .book-author {
      font-size: 15px;
      color: $gray;
      margin-bottom: 30px;
    }
    .finish-reading-btn {
      border: none;
      @include btn();
      display: inline-block;
      width: 150px;
      height: 40px;
      margin: 10px 0;
    }
    .finish-reading-btn:active {
      @include btn_action;
    }
  
    #book-register-link, .create-note-btn, .edit-book-btn {
      @include btn();
      display: inline-block;
      width: 150px;
      height: 40px;
      margin: 10px 0;
      text-decoration: none;
      text-align: center;
      line-height: 40px;
    }
    #book-register-link:active, .edit-book-btn:active {
      @include btn_action;
    }
  }
    
    .right-content {
      width: 100%;
      padding: 50px 10px;
      color: $gray;
      overflow-y: auto;
      .contents-title {
        font-size: 25px;
        text-align: center;
      }
    }
    
    .note-wrapper {
      @include note;
      position: relative;
      padding: 10px;
      margin: 0 auto;
      margin-top: 10px;
      .note-link {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      .note-info {
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        &__user {
          font-size: 20px;
        }
        &__likes-count {
          font-size: 13px;
          i {
            color: red;
            margin-right: 5px;
          }
        }
      }
      .note-content {
        &__title {
          font-size: 18px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &__content {
          font-size: 13px;
          margin-left: 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

}
