.note-page-title {
  color: $gray;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.note-form-page {
  text-align: center;
  display: block;
  padding: 20px 0;
  .book-title {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    .book-title-link {
      font-size: 30px;
      font-weight: bold;
      color: $light_blue;
      text-decoration: none;
    }
  }
}

.note-form {
  .summary-area, .review-form, .action-plan-form, .memo-form, .purpose-form {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #dadce0;
    border-radius: 8px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    .add-form-btn, .add-ap-form-btn {
      font-size: 12px;
      display: inline-block;
      padding: 5px 10px;
      color: #fff;
      border-radius: 3px;
      background-color: $light_blue;
    }
  }
  .js-file-group {
    width: 600px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-bottom: 2px solid #dadce0;
    .delete-form-display {
      font-size: 12px;
      display: inline-block;
      padding: 5px 10px;
      color: #fff;
      border-radius: 3px;
      background-color: gray;
    }
  }
  .js-file-group-ap {
    width: 600px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    .delete-form-display {
      position: absolute;
      right: 20px;
      top: 35px;
      font-size: 20px;
      color: gray;
      border-radius: 3px;
    }
  }
  h2.input-area-title {
    @include section-title;
  }
  .input-area-title {
    color: $gray;
    text-align: left;
    margin: 20px 0 20px 40px;
    h3 {
      width: 80px;
      font-size: 18px;
      display: inline-block;
    }
  }
  .summary-title-field {
    padding: 0 10px;
    width: 500px;
    height: 50px;
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid #dadce0;
  }
  .summary-content-field {
    padding: 5px 10px;
    width: 500px;
    height: 100px;
    display: block;
    margin: 0 auto;
  }
  .review-field, .memo-field, .purpose-field {
    padding: 5px 10px;
    width: 500px;
    height: 80px;
    margin-top: 10px;
  }
  .action-plan-field {
    padding: 0 10px;
    width: 500px;
    height: 50px;
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid #dadce0;
  }
  textarea, input {
    border: none;
  }
  .btn {
    @include btn();
    width: 150px;
    padding: 3px;
    margin-top: 10px;
  }
  .btn:active {
    @include btn_action;
  }
}