//レスポンシブ対応用
@media (max-width: 650px){
  .note-form-page {
    .book-title {
      width: 80vw;
    }
  }
  h2.input-area-title {
    width: 80vw;
  }
  .note-form {
    .summary-area, .review-form, .action-plan-form, .memo-form, .purpose-form {
      width: 80vw;
      padding: 20px 5px;
    }
    .input-area-title {
      margin: 20px 10px;
    }
    .js-file-group {
      width: 100%;
      padding-bottom: 20px;
    }
    .js-file-group-ap {
      width: calc(100% - 10px);
      padding: 20px 0;
    }
    .summary-title-field {
      width: calc(100% - 10px);
      padding: 0 5px;
      font-size: 12px;
    }
    .summary-content-field {
      width: calc(100% - 10px);
      padding: 5px;
      font-size: 12px;
      height: calc(100% - 230px);
      position: absolute;
      top: 160px;
    }
    .purpose-field, .review-field {
      width: 100%;
      padding: 5px 10px;
      font-size: 12px;
    }
    .action-plan-field {
      width: 100%;
      padding: 5px;
      font-size: 12px;
    }
    .review-field, .memo-field {
      width: calc(100% - 10px);
      font-size: 12px;
      padding: 5px 10px;
    }
  }
}

@media (max-width: 800px) and (min-width: 651px){
  .note-form-page {
    .book-title {
      width: 80vw;
    }
  }
  h2.input-area-title {
    width: 80vw;
  }
  .note-form {
    .summary-area, .review-form, .action-plan-form, .memo-form, .purpose-form {
      width: 80vw;
      padding: 20px;
    }
    .input-area-title {
      margin: 20px 10px;
    }
    .js-file-group {
      width: 100%;
      padding: 20px 0;
    }
    .js-file-group-ap {
      width: 100%;
      padding: 20px 0;
    }
    .summary-title-field {
      width: calc(100% - 10px);
      padding: 0 5px;
    }
    .summary-content-field {
      width: calc(100% - 10px);
      padding: 5px;
      height: calc(100% - 260px);
      position: absolute;
      top: 200px;
    }
    .purpose-field, .review-field, .action-plan-field {
      width: 100%;
      padding: 5px 10px;
    }
    .review-field, .memo-field {
      width: calc(100% - 40px);
      padding: 5px 10px;
    }
  }
}

@media (min-width: 801px){
  .note-form-page {
    .book-title {
      width: 700px;
    }
  }
  h2.input-area-title {
    width: 700px;
  }
  .note-form {
    .summary-area, .review-form, .action-plan-form, .memo-form, .purpose-form {
      width: 700px;
      padding: 20px;
    }
    .input-area-title {
      margin: 20px 0 20px 40px;
    }
    .js-file-group, .js-file-group-ap {
      width: 600px;
      padding: 20px;

    }
    .summary-title-field, .summary-content-field, .purpose-field,
    .review-field, .action-plan-field, .memo-field {
      width: 500px;
      padding: 0 10px;
    }
    .summary-content-field {
      height: calc(100% - 260px);
      position: absolute;
      top: 200px;
    }
  }
}

//以下各要素のCSS
.note-page-title {
  color: $gray;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.note-form-page {
  text-align: center;
  display: block;
  padding: 20px 0;
  .book-title {
    margin: 0 auto;
    text-align: center;
    .book-title-link {
      font-size: 30px;
      font-weight: bold;
      color: $light_blue;
      text-decoration: none;
    }
  }
}

.note-form {
  .summary-area, .review-form, .action-plan-form, .memo-form, .purpose-form {
    position: relative;
    margin: 0 auto;
    border: 1px solid #dadce0;
    border-radius: 8px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    .add-form-btn, .add-ap-form-btn {
      font-size: 12px;
      display: inline-block;
      padding: 5px 10px;
      color: #fff;
      border-radius: 3px;
      background-color: $light_blue;
    }
  }
  .js-file-group {
    margin: 0 auto;
    margin-bottom: 20px;
    border-bottom: 2px solid #dadce0;
    position: relative;
    .delete-form-display {
      font-size: 12px;
      display: inline-block;
      margin-top: 10px;
      padding: 5px 10px;
      color: #fff;
      border-radius: 3px;
      background-color: gray;
    }
  }
  .js-file-group-ap {
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    .delete-form-display {
      position: absolute;
      right: 20px;
      top: 35px;
      font-size: 20px;
      color: gray;
      border-radius: 3px;
    }
  }
  h2.input-area-title {
    @include section-title;
  }
  .input-area-title {
    color: $gray;
    text-align: left;
    h3 {
      width: 80px;
      font-size: 18px;
      display: inline-block;
    }
  }
  .summary-title-field {
    height: 50px;
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid #dadce0;
  }
  .summary-content-field__dummy {
    overflow: hidden;
    visibility: hidden;
    box-sizing: border-box;
    padding: 5px 10px;
    min-height: 120px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .summary-content-field {
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  .review-field, .memo-field {
    height: calc(100% - 40px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .review-field__dummy, .memo-field__dummy {
    overflow: hidden;
    visibility: hidden;
    box-sizing: border-box;
    padding: 5px 10px;
    min-height: 120px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .purpose-field {
    height: 80px;
    margin-top: 10px;
  }
  .action-plan-field {
    height: 50px;
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid #dadce0;
  }
  textarea, input {
    border: none;
  }
  .btn {
    @include btn();
    width: 150px;
    padding: 3px;
    margin-top: 10px;
  }
  .btn:active {
    @include btn_action;
  }
}