@media (max-width: 800px){
  .upper-content {
    .left-content {
      width: calc(100vw - 40px);
      max-width: 600px;
      margin: 0 auto;
      margin-top: 20px;
    }
    .right-content {
      width: calc(100vw - 40px);
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
@media (min-width: 801px){
  .upper-content {
    width: 1000px;
    max-width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    .left-content {
      margin-right: 20px;

    }
    .right-content {
      width: 100%;

    }
  }
}
.upper-content {
  .left-content {
    @include note;
    min-width: 350px;
    height: 300px;
    padding: 10px;
    background-color: #fafafa;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  }
  .right-content {
    @include note;
    max-width: 600px;
    height: 300px;
    padding: 10px;
    background-color: #fafafa;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    overflow: auto;
    .right-content__title {
      text-align: center;
      font-size: 25px;
      p {
        display: inline-block;
      }
    }
    #edit-progress-btn {
      width: 80px;
      display: inline-block;
      font-size: 12px;
      color: $light_blue;
      margin-right: 3px;
    }
    #progress-question {
      font-size: 12px;
      color: $light_blue;
    }
    .edit-progress-area {
      position: relative;
    }
    .progress-explain {
      display: none;
      position: absolute;
      max-width: 400px;
      margin-top: 5px;
      left: 0;
      right: 0;
      top: 28px;
      z-index: 10;
      padding: 15px;
      border-radius: 6px;
      background: #eee;
      color: #333;
      line-height: 1.5;
      text-align: center;
      font-size: 14px;
    }
    .progress-explain::before {
      content: "";
      display: block;
      top: -8px;
      left: 84px;
      border-style: solid;
      border-color: transparent transparent #eee transparent;
      position: absolute;
      width: 0;
      height: 0;
      border-width: 0 8px 8px 8px;
    }
    #action-plan-index {
      .action-plan {
        display: flex;
        position: relative;
        border-top: 1px solid #eee;
        margin-bottom: 5px;
        padding: 5px 0;
        .progress-tag {
          display: inline-block;
        }
        span.progress-level {
          font-size: 23px;
        }
        .count-area {
          display: flex;
          font-size: 10px;
          justify-content: flex-end;
          a {
            display: inline-block;
            margin-left: 3px;
            text-decoration: none;
            color: $light_blue;
          }
        }
        &__progress {
          min-width: 40px;
        }
        &__content {
          margin-left: 20px;
          margin-top: 6px;
          padding-right: 30px;
        }
        &__edit-link {
          position: absolute;
          right: 5px;
          top: 10px;
          a {
            color: #888;
          }
        }
        .completed-icon {
          font-family: 'Special Elite', cursive;
          z-index: 2;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: rotate(-1deg);
          transform: translate(-50%, -50%) rotate(-6deg);
          color: #9e1717;
          border: 2px solid #9e1717;
          border-radius: 4px;
          padding: 4px 4px 1px;
        }
      }
      .no-action-plan-message {
        width: 100%;
        text-align: center;
        margin-top: 100px;
        font-size: 20px;
        color: #aaa;
      }
    }
  }
}

.profile {
  .user-name {
    text-align: center;
  }
  .user-prifile {
    font-size: 12px;
    height: 50px;
  }
}

.best-books-area {
  margin: 5px 0;
  &__top {
    display: flex;
  }
  &__title {
    font-size: 16px;
    display: inline-block;
    @include marker();
  }
  .best-book-edit {
    margin-left: 15px;
    text-decoration: none;
    a {
      color: #888;
    }
  }
  .best-book, .second-best-book, .third-best-book {
    font-size: 18px;
    display: flex;
    height: 27px;
    .left-word {
      margin-right: 10px;
    }
    a {
      text-decoration: none;
      display: inline-block;
      width: 240px;
      color: #000000;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}


.user-count-area {
  display: grid;
  grid-template-rows: 30px 20px;
  grid-template-columns: 100px 100px 100px;
  justify-content: center;
  grid-auto-flow: column;
  text-align: center;
  .books-count {
    @include count;
  }
  .notes-count {
    @include count;
  }
  .likes-count {
    @include count;
  }
}

.profile-edit {
  width: 150px;
  margin: 0 auto;
  margin-top: 5px;
  .profile-edit-btn {
    display: block;
    @include btn($bColor: #7fb4b9);
    padding: 3px;
    width: 150px;
    font-size: 13px;
  }
  .profile-edit-btn:active {
    @include btn_action;
  }
}

.add-book-area {
  text-align: center;
  .add-book-btn {
    @include btn();
    width: 150px;
    padding: 3px;
  }
  .add-book-btn:active {
    @include btn_action;
  }
}

.main-content {
  .tabs-area {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .content-tabs {
    border-bottom: 2px solid gray;
    display: flex;
    .books-menu-tab {
      width: 130px;
      text-align: center;
      padding: 3px 0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: #ccc;
      color: #fff;
      cursor: pointer;
    }
    .books-menu-tab.active {
      background-color: $light_blue;
    }
  }
}

.user-books-area {
  display: none;
}
.user-books-area.show {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
  @include book_index;
  padding: 0;
  .no-image {
    @include no_image;
  }
  .book-area__note-info, .update-book-status-link {
    font-size: 12px;
  }
  .book-area__note-link {
    text-decoration: none;
    color: $light_blue;
  }
}

.overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1;
  font-size: 16px;
  .modal-window__book-register {
    width: 400px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 2;
    .book-info {
      display: flex;
      flex-wrap: wrap;
    }
    .right-content {
      margin-left: 20px;
      width: 220px;
      color: $light_blue;
    }
    .select-message {
      margin: 10px 0;
      color: #000;
    }
    input {
      display: none;
    }
    input.submit-form {
      border: none;
      @include btn();
      width: 160px;
      height: 40px;
      padding: 0 3px;
      display: block;
    }
    select.status-form {
      width: 100%;
      border-radius: 5px;
      padding: 3px;
    }
    .btn-area {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
    .modal-close-btn {
      @include btn($bColor: gray);
      width: 160px;
      height: 40px;
      line-height: 40px;
      border-bottom: solid 4px #555;
    }
  }
}
